*{
	margin:0;
	padding:0;
	z-index:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
}

.hide {
	opacity: 0;
	cursor:none;
	transition: opacity 0.5s ease-in-out;
}

.hide:hover {
	opacity: 1;
}

.show {
	cursor:pointer;
	opacity: 1; 
	cursor:pointer;
}

.hideText {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.showText {
	cursor:pointer;
	opacity: 1; 
}

.vis-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#infotext {
	position:absolute;
	z-index:30;
	margin:auto;
	display:block;
	color:#ee4d2e;
	font-weight:bold;
	font-size:20px;
	pointer-events: none;
	top:10px;
}

#progress::-webkit-progress-bar { background: rgba(0,0,0,0); }
#progress::-webkit-progress-value { background: rgba(196,52,28,0.8); }
#progress::-moz-progress-bar { background: rgba(196,52,28,0.8); }
#progress {background: rgba(0,0,0,0);}

#volume::-webkit-progress-bar { background: rgba(0,0,0,0); }
#volume::-webkit-progress-value { background: #ee4d2e; }
#volume::-moz-progress-bar { background: #ee4d2e; }
#volume {background: rgba(0,0,0,0);}

#darkPlane::-webkit-progress-bar { background: #161616; }
#darkPlane::-webkit-progress-value { background: #ee4d2e; }
#darkPlane::-moz-progress-bar { background: #ee4d2e; }
#darkPlane {background: #161616;}

#darkPlane {
	position:relative;
	left:0;
	top:0;
	width:100%;
	height:10px;
	border:none;
}

#showPerc{
	position:absolute;
	margin:0 auto;
	color:#CCC;
	font-weight:bold;
	z-index:21;
	top:-2px;
	left: -moz-calc(50% - 5px);
	/* WebKit */
	left: -webkit-calc(50% - 5px);
	/* Opera */
	left: -o-calc(50% - 5px);
	/* Standard */
	left: calc(50% - 5px);
	pointer-events: none;
	font-size:10px;
}

#mediaPlayer {
	width:100%;
	height:100%;
	z-index:0;
}

#vid {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:1;
	background-color:#000;
}

#topLayer {
	height:10px;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:#161616;
	text-align:center;
	z-index:20;
	color:#CCC;
	font-weight:bold;
}

#clicklayer {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:3;
	background:#000;
	opacity:0;
}

#video-controls {
	position:absolute;
	bottom: 0;
    vertical-align:bottom;
	height:50px;
	width:100%;
	z-index:4;
	background-color:transparent;
}

#curProc{
	position:absolute;
	
	height:14px;
	font-weight:bold;
	text-align:center;
	color:#FFF;

	top: -moz-calc(100% - 60px);
	top: -webkit-calc(100% - 60px);
	top: -o-calc(100% - 60px);
	top: calc(100% - 60px);
	
	left:-100px;
	z-index:2;
}

#video-controls table {
	border-collapse:separate; 
	border-spacing:0 0;
	width:100%;
	height:100%;
}

#video-controls table tr:last-child {
	background-color:rgba(22,22,22,0.8);
}

#progress {
	position:relative;
	height:5px;
	border:none;
	width: 100%;
	padding-top:10px;
	z-index:10;
}

#buffer {
	position:absolute;
	height:5px;
	border:none;
	width: 100%;
	z-index:9;
	top:10px;
}
#playcontrols {
	height:35px;
}

#playcontrols td:nth-child(1){
	fill:#ee4d2e;
	height:35px;
	width:35px;
	vertical-align:top;
}

#playcontrols td:nth-child(1):hover{
	fill:#a0260d;
}

#playcontrols td:nth-child(2){
	color:#CCC;
	height:35px;
	vertical-align:top;
	width:0.01%;
	white-space: nowrap;
	line-height: 35px;
	text-align: center;
	font-weight:bold;
	padding:0 10px 0 10px; 
}

#playcontrols td:nth-child(3){
	fill:#ee4d2e;
	stroke:#ee4d2e;
	height:35px;
	width:35px;
	vertical-align:top;
}

#playcontrols td:nth-child(3):hover{
	fill:#a0260d;
	stroke:#a0260d;
}

#playcontrols td:nth-child(3):hover + td:nth-child(4) #volume{
	width:100px;
}

#playcontrols td:nth-child(4){
	height:35px;
	width:100px;
	vertical-align:center;
}

#playcontrols td:nth-child(4):hover #volume{
	width:100px;
}

#volume {
	background-clip: content-box;
	height:5px;
	padding-top:15px;
	padding-bottom:15px;
	border:none;
	width:0px;
	transition: width 0.2s linear 0s;
}

#volume:focus {
	width:100px;
}

#playcontrols td:nth-child(5){
	width:100%;
}

#playcontrols td:nth-child(6){
	width:0.1%;
	color:#ee4d2e;
	text-align:center; 
    vertical-align:top;
	font-weight:bold;
	font-size:29px;
	padding:0 20px 0 20px;
}

#playcontrols td:nth-child(6):hover{
	color:#a0260d;
}

#playcontrols td:nth-child(7){
	width:0.1%;
	height:35px;
	color:#CCC;
	font-weight:bold;
}

#playcontrols td:nth-child(8){
	width:0.1%;
	color:#ee4d2e;
	text-align:center; 
    vertical-align:top;
	font-weight:bold;
	font-size:29px;
	padding:0 20px 0 20px;
}

#playcontrols td:nth-child(8):hover{
	color:#a0260d;
}

#playcontrols td:nth-child(9){
	fill:#ee4d2e;
	height:35px;
	width:35px;
	vertical-align:top;
}

#playcontrols td:nth-child(9):hover{
	fill:#a0260d;
}